body{
  overflow-x: hidden !important;
}
:root {
  --main-font-family : 'Poppins', sans-serif;
}

::-webkit-scrollbar{
  height: 4px;
  width: 4px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb{
  background: #0969EB;
}
.ant-image-mask-info{
  display: flex;
  align-items: center;
}

.ant-modal-footer,
.ant-modal-close{
  display: none;
}

.ant-modal-body {
  padding: 0;
  display: flex;
  flex-direction: column;
}